{% extends 'base.html.twig' %}

{% block title %}Личный кабинет. {{ parent() }}{% endblock %}

{% block navbar %}
<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="{{ path('app_homepage') }}">Article Generator</a></div>
        <div class="list-group list-group-flush">
            <a href="{{ path('app_dashboard') }}"                class="list-group-item list-group-item-action active">Рабочий стол</a>
            <a href="{{ path('app_dashboard_create_article') }}" class="list-group-item list-group-item-action bg-light">Создать статью</a>
            <a href="{{ path('app_dashboard_history') }}"        class="list-group-item list-group-item-action bg-light">История статей</a>
            <a href="{{ path('app_dashboard_subscription') }}"   class="list-group-item list-group-item-action bg-light">Подписка</a>
            <a href="{{ path('app_dashboard_profile') }}"        class="list-group-item list-group-item-action bg-light">Профиль</a>
            <a href="{{ path('app_dashboard_modules') }}"        class="list-group-item list-group-item-action bg-light">Модули генератора</a>
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Скрыть меню</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Показать/Скрыть навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
{% endblock %}

{% block body %}
            <div class="container-fluid">
                <h1 class="mt-4">Рабочий стол</h1>
                <div class="row">
                    <div class="col-xl-8 border-right">
                        <div class="alert alert-warning" role="alert">
                            Подписка истекает через 2 дня
                        </div>
                        <div class="card-columns dashboard">
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="card-title">13</h1>
                                    <p class="card-text">статей создано</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="card-title">8</h1>
                                    <p class="card-text">в этом месяце</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">PLUS</h4>
                                    <p class="card-text">Ваш уровень подписки</p>
                                    <a href="{{ path('app_dashboard_subscription') }}" class="btn btn-primary">Улучшить</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Создать статью</h5>
                                    <a href="{{ path('app_dashboard_create_article') }}" class="btn btn-primary">Создать</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Почему квадрат не круглый?</h5>
                                    <p class="card-text">При генерации контента <b>круг</b> статьи, вы можете наполнить его нужными словами <b>круг</b> для вашего бизнеса. Столько <b>круг</b> сколько <b>круг</b> нужно. Хоть все ими <b>круг</b> <b>круг</b> <b>круг</b> заполоните!.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}